/**
* @author Marike Grinde, 2014
*/



/*
* TYPOGRAPHY
*/
body{
	font-family: helvetica;
	color: #372B30;
}
/*
* DESIGN
*/
.tight{
	margin-top: 0px;
	margin-bottom: 0px;
}
/*
* HEADER
*/
header{
	width: 100%;
	margin: auto;
	height: 10%;
	color: #DE979F;
}
header h1{
	font-weight: bolder;
	margin-bottom: 0px;
}
/*
* MENU
*/
.menu{
	margin-top: 0px;
	background-color: #fff5f9;
	text-align: right;
}

/*
* GOOGLE MAPS
*/

html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

#container {
    margin: auto;
    background-color: #FFF;
    -moz-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    -webkit-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
}

#map-canvas {
  min-height: 600px;
  width: 100%;
}